In [1]:
from PyP100 import PyP110
import pandas as pd
from datetime import datetime

p110Büro = PyP110.P110("192.168.1.107", "vio.schwarz89@gmail.com", "&uR^8hQVKg%$3oLoEX") #Creating a P110 plug object

p110Büro.handshake() #Creates the cookies required for further methods
p110Büro.login() #Sends credentials to the plug and creates AES Key and IV for further methods

#PyP110 has all PyP100 functions and additionally allows to query energy usage infos
resultBüro = p110Büro.getEnergyUsage() #Returns dict with all the energy usage


p110Wohnung = PyP110.P110("192.168.1.108", "vio.schwarz89@gmail.com", "&uR^8hQVKg%$3oLoEX") #Creating a P110 plug object

p110Wohnung.handshake() #Creates the cookies required for further methods
p110Wohnung.login() #Sends credentials to the plug and creates AES Key and IV for further methods

#PyP110 has all PyP100 functions and additionally allows to query energy usage infos
resultWohnung = p110Wohnung.getEnergyUsage() #Returns dict with all the energy usage

In [2]:
energy24H = pd.concat(
  [pd.DataFrame(pd.date_range(start=datetime.today().strftime('%Y-%m-%d'), 
                 periods=24,  
                 freq='H').strftime('%d-%m-%y %H')),
   pd.DataFrame.from_dict(resultBüro["result"]["past24h"]),
   pd.DataFrame.from_dict(resultWohnung["result"]["past24h"])
  ], 
  axis=1)

energy24H.columns = ["Date","Büro","Wohnung"]
energy24H

           Date  Büro  Wohnung
0   27-03-22 00    13      229
1   27-03-22 01    13      224
2   27-03-22 02    13      210
3   27-03-22 03    14      210
4   27-03-22 04    13      211
5   27-03-22 05    13      217
6   27-03-22 06    14      214
7   27-03-22 07    13      201
8   27-03-22 08    13      206
9   27-03-22 09     0        0
10  27-03-22 10    14      201
11  27-03-22 11    13      201
12  27-03-22 12    13      201
13  27-03-22 13    14      201
14  27-03-22 14    13      201
15  27-03-22 15    13      205
16  27-03-22 16    13      224
17  27-03-22 17    14      226
18  27-03-22 18    13      228
19  27-03-22 19    14      228
20  27-03-22 20    13      228
21  27-03-22 21    14      228
22  27-03-22 22    13      227
23  27-03-22 23     9      151

In [22]:
büro7d.columns = pd.date_range(start=datetime.today().strftime('%Y-%m-%d'), 
                 periods=24,  
                 freq='H').strftime('%d-%m-%y %H')
büro7d.rename(index=pd.date_range(end=datetime.today().strftime('%Y-%m-%d'), 
                 periods=7,  
                 freq='D').strftime('%d-%m-%y'), inplace=True)

b

TypeError: 'Index' object is not callable

In [16]:
time7pd=pd.DataFrame(pd.date_range(end=datetime.today().strftime('%Y-%m-%d'), 
                 periods=7,  
                 freq='D').strftime('%d-%m-%y'))

time24pd=pd.DataFrame(pd.date_range(start=datetime.today().strftime('%Y-%m-%d'), 
                 periods=24,  
                 freq='H').strftime('%d-%m-%y %H'))

büro7d = pd.DataFrame.from_dict(resultBüro["result"]["past7d"])

pd.concat([time7pd,büro7d], axis=1)

,0,0,1,2,3,4,5,6,7,8,...,14,15,16,17,18,19,20,21,22,23
0,21-03-22,14,13,13,14,13,13,14,13,13,...,13,14,13,13,13,14,12,13,13,12
1,22-03-22,13,13,12,13,13,12,13,13,13,...,13,12,13,13,12,13,13,12,13,12
2,23-03-22,13,13,13,13,12,13,13,13,12,...,12,13,12,13,14,13,13,13,13,13
3,24-03-22,14,13,14,13,13,14,13,13,14,...,13,14,13,13,13,13,14,13,13,13
4,25-03-22,13,13,13,13,13,14,13,13,13,...,14,13,14,13,14,13,14,13,13,14
5,26-03-22,13,14,13,13,14,13,13,14,13,...,14,13,14,13,13,13,14,13,13,14
6,27-03-22,13,13,0,14,13,13,14,13,13,...,14,13,9,0,0,0,0,0,0,0

In [26]:
energy7D = pd.concat(
  [pd.DataFrame(pd.date_range(end=datetime.today().strftime('%Y-%m-%d'), 
                 periods=7,  
                 freq='D').strftime('%d-%m-%y')),
   #pd.DataFrame.from_dict(resultBüro["result"]["past7d"]),
   pd.DataFrame.from_dict(resultWohnung["result"]["past7d"])
  ], 
  axis=1)
energy7D
#energy7D.columns = ["Date","Büro","Wohnung"]

#energyMonth = pd.concat(
#  [pd.DataFrame(pd.date_range(start=datetime.today().strftime('%Y-%m-%d'), 
#                 periods=30,  
#                 freq='D').strftime('%d-%m-%y')),
#   pd.DataFrame.from_dict(resultBüro["result"]["past30d"]),
#   pd.DataFrame.from_dict(resultWohnung["result"]["past30d"])
#  ], 
#  axis=1)

#energyMonth.columns = ["Date","Büro","Wohnung"]

,0,0,1,2,3,4,5,6,7,8,...,14,15,16,17,18,19,20,21,22,23
0,21-03-22,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,22-03-22,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,23-03-22,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,24-03-22,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,144,289,276,275
4,25-03-22,281,281,281,281,281,281,281,280,324,...,0,0,0,14,94,109,105,60,0,0
5,26-03-22,0,3,5,64,96,55,12,13,12,...,117,227,223,263,245,244,248,263,258,250
6,27-03-22,243,242,242,244,244,243,242,243,136,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
energy24H = pd.DataFrame.from_dict(result["result"]["past24h"])
energy7D = pd.DataFrame.from_dict(result["result"]["past7d"])
energyMonth = pd.DataFrame.from_dict(result["result"]["past30d"])

#dates24H = pd.date_range(start=datetime.today().strftime('%Y-%m-%d'), periods=24,  freq='H').tolist()

filepath = "energyMonitor-" + datetime.today().strftime('%d%m%Y')
energy24H.to_csv(filepath, header=['energy'])  


filepath = "energyMonitor-" + datetime.today().strftime("%Y-Week%W")
energy7D.to_csv(filepath, header=['energy'])

filepath = "energyMonitor-" + datetime.today().strftime("%Y-%B")
energyMonth.to_csv(filepath, header=['energy'])

In [4]:
pd.DataFrame()

Empty DataFrame
Columns: []
Index: []

In [3]:
import sys
sys.path

['/home/silvio/Dokumente/GitHub/dataScience/energyMonitor',
 '/usr/lib/python38.zip',
 '/usr/lib/python3.8',
 '/usr/lib/python3.8/lib-dynload',
 '',
 '/home/silvio/Dokumente/GitHub/pythonBot/pythonBot/lib/python3.8/site-packages']

In [ ]:
sys.path.append('/home/silvio/Dokumente/GitHub/dataScience/energyMonitor)